# Non Graded Challenge 11
- Muhammad Nafisa Fakhri
- FTDS Batch 013

- Mencari Measure of Central Tendency dari data.
- Mencari Measure of Variance dari data.

In [1]:
import numpy as np
import pandas as pd

In [2]:
data_covid = pd.read_csv("covid_19_indonesia_time_series_all.csv")
pd.set_option("display.max.columns", None)
data_covid

,Date,Location ISO Code,Location,New Cases,New Deaths,New Recovered,New Active Cases,Total Cases,Total Deaths,Total Recovered,Total Active Cases,Location Level,City or Regency,Province,Country,Continent,Island,Time Zone,Special Status,Total Regencies,Total Cities,Total Districts,Total Urban Villages,Total Rural Villages,Area (km2),Population,Population Density,Longitude,Latitude,New Cases per Million,Total Cases per Million,New Deaths per Million,Total Deaths per Million,Total Deaths per 100rb,Case Fatality Rate,Case Recovered Rate,Growth Factor of New Cases,Growth Factor of New Deaths
0,3/1/2020,ID-JK,DKI Jakarta,2,0,0,2,39,20,41,-22,Province,NaN,DKI Jakarta,Indonesia,Asia,Jawa,UTC+07:00,Daerah Khusus Ibu Kota,1,5.0,44,267.0,NaN,664,10846145,16334.31,106.836118,-6.204699,0.18,3.60,0.00,1.84,0.18,51.28%,105.13%,NaN,NaN
1,3/2/2020,ID-JK,DKI Jakarta,2,0,0,2,41,20,41,-20,Province,NaN,DKI Jakarta,Indonesia,Asia,Jawa,UTC+07:00,Daerah Khusus Ibu Kota,1,5.0,44,267.0,NaN,664,10846145,16334.31,106.836118,-6.204699,0.18,3.78,0.00,1.84,0.18,48.78%,100.00%,1.00,1.0
2,3/2/2020,IDN,Indonesia,2,0,0,2,2,0,0,2,Country,NaN,NaN,Indonesia,Asia,NaN,NaN,NaN,416,98.0,7230,8488.0,74953.0,1916907,265185520,138.34,113.921327,-0.789275,0.01,0.01,0.00,0.00,0.00,0.00%,0.00%,NaN,NaN
3,3/2/2020,ID-RI,Riau,1,0,0,1,2,0,3,-1,Province,NaN,Riau,Indonesia,Asia,Sumatera,UTC+07:00,NaN,10,2.0,169,268.0,1591.0,87024,6074100,69.80,101.805109,0.511648,0.16,0.33,0.00,0.00,0.00,0.00%,150.00%,NaN,NaN
4,3/3/2020,ID-JK,DKI Jakarta,2,0,0,2,43,20,41,-18,Province,NaN,DKI Jakarta,Indonesia,Asia,Jawa,UTC+07:00,Daerah Khusus Ibu Kota,1,5.0,44,267.0,NaN,664,10846145,16334.31,106.836118,-6.204699,0.18,3.96,0.00,1.84,0.18,46.51%,95.35%,1.00,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21754,12/2/2021,ID-SA,Sulawesi Utara,2,0,0,2,34715,1056,33566,93,Province,NaN,Sulawesi Utara,Indonesia,Asia,Sulawesi,UTC+08:00,NaN,11,4.0,171,332.0,1507.0,13892,2641884,190.17,124.521240,1.259638,0.76,13140.24,0.00,399.71,39.97,3.04%,96.69%,NaN,1.0
21755,12/2/2021,ID-SB,Sumatera Barat,4,0,0,4,89849,2152,87605,92,Province,NaN,Sumatera Barat,Indonesia,Asia,Sumatera,UTC+07:00,NaN,12,7.0,179,230.0,928.0,42013,5519245,131.37,100.465062,-0.850253,0.72,16279.22,0.00,389.91,38.99,2.40%,97.50%,4.00,1.0
21756,12/2/2021,ID-SS,Sumatera Selatan,4,0,0,4,59937,3071,56830,36,Province,NaN,Sumatera Selatan,Indonesia,Asia,Sumatera,UTC+07:00,NaN,13,4.0,241,387.0,2853.0,91592,8217551,89.72,104.169465,-3.216212,0.49,7293.78,0.00,373.71,37.37,5.12%,94.82%,4.00,1.0
21757,12/2/2021,ID-SU,Sumatera Utara,4,0,1,3,106045,2889,103061,95,Province,NaN,Sumatera Utara,Indonesia,Asia,Sumatera,UTC+07:00,NaN,25,8.0,450,693.0,5417.0,72981,14874889,203.82,99.051964,2.191894,0.27,7129.13,0.00,194.22,19.42,2.72%,97.19%,1.00,1.0
21758,12/3/2021,IDN,Indonesia,245,8,328,-91,4257243,143858,4105680,7705,Country,NaN,NaN,Indonesia,Asia,NaN,NaN,NaN,416,98.0,7230,8488.0,74953.0,1916907,265185520,138.34,113.921327,-0.789275,0.92,16053.83,0.03,542.48,54.25,3.38%,96.44%,0.79,0.8

In [3]:
data_covid.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21759 entries, 0 to 21758
Data columns (total 38 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Date                         21759 non-null  object
 1   Location ISO Code            21759 non-null  object
 2   Location                     21759 non-null  object
 3   New Cases                    21759 non-null  int64
 4   New Deaths                   21759 non-null  int64
 5   New Recovered                21759 non-null  int64
 6   New Active Cases             21759 non-null  int64
 7   Total Cases                  21759 non-null  int64
 8   Total Deaths                 21759 non-null  int64
 9   Total Recovered              21759 non-null  int64
 10  Total Active Cases           21759 non-null  int64
 11  Location Level               21759 non-null  object
 12  City or Regency              0 non-null      float64
 13  Province                     21117 non-null  object
 14  Country                      21759 non-null  object
 15  Continent                    21759 non-null  object
 16  Island                       21117 non-null  object
 17  Time Zone                    21117 non-null  object
 18  Special Status               3123 non-null   object
 19  Total Regencies              21759 non-null  int64
 20  Total Cities                 21145 non-null  float64
 21  Total Districts              21759 non-null  int64
 22  Total Urban Villages         21142 non-null  float64
 23  Total Rural Villages         21117 non-null  float64
 24  Area (km2)                   21759 non-null  int64
 25  Population                   21759 non-null  int64
 26  Population Density           21759 non-null  float64
 27  Longitude                    21759 non-null  float64
 28  Latitude                     21759 non-null  float64
 29  New Cases per Million        21759 non-null  float64
 30  Total Cases per Million      21759 non-null  float64
 31  New Deaths per Million       21759 non-null  float64
 32  Total Deaths per Million     21759 non-null  float64
 33  Total Deaths per 100rb       21759 non-null  float64
 34  Case Fatality Rate           21759 non-null  object
 35  Case Recovered Rate          21759 non-null  object
 36  Growth Factor of New Cases   20572 non-null  float64
 37  Growth Factor of New Deaths  19292 non-null  float64
dtypes: float64(14), int64(12), object(12)
memory usage: 6.3+ MB

In [4]:
data_covid.describe()

,New Cases,New Deaths,New Recovered,New Active Cases,Total Cases,Total Deaths,Total Recovered,Total Active Cases,City or Regency,Total Regencies,Total Cities,Total Districts,Total Urban Villages,Total Rural Villages,Area (km2),Population,Population Density,Longitude,Latitude,New Cases per Million,Total Cases per Million,New Deaths per Million,Total Deaths per Million,Total Deaths per 100rb,Growth Factor of New Cases,Growth Factor of New Deaths
count,21759.000000,21759.000000,21759.000000,21759.000000,2.175900e+04,21759.000000,2.175900e+04,21759.000000,0.0,21759.000000,21145.000000,21759.000000,21142.000000,21117.000000,2.175900e+04,2.175900e+04,21759.000000,21759.000000,21759.000000,21759.000000,21759.000000,21759.000000,21759.000000,21759.000000,20572.000000,19292.000000
mean,391.293580,13.220415,377.310998,0.762167,8.525997e+04,2648.289352,7.671260e+04,5899.079002,NaN,24.160256,5.872499,420.444368,508.740517,4490.348298,1.112418e+05,1.547817e+07,744.989784,113.680803,-2.731868,29.393033,6183.650588,0.852727,163.542156,16.354192,1.395671,1.074145
std,2074.551043,76.482617,1999.062563,937.213509,3.685133e+05,11776.011067,3.403957e+05,27518.102431,NaN,68.708265,16.471412,1199.018696,1429.127644,12647.556247,3.203746e+05,4.483574e+07,2743.209719,9.857587,3.608264,69.941090,10288.123342,2.277310,254.195761,25.419595,3.080207,1.578502
min,0.000000,0.000000,0.000000,-25725.000000,1.000000e+00,0.000000,0.000000e+00,-2306.000000,NaN,1.000000,1.000000,44.000000,35.000000,275.000000,6.640000e+02,6.484070e+05,8.590000,96.910522,-8.682205,0.000000,0.010000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,7.000000,0.000000,4.000000,-16.000000,1.822500e+03,50.000000,1.038500e+03,182.000000,NaN,7.000000,1.000000,103.000000,99.000000,928.000000,1.678700e+04,1.999539e+06,47.790000,106.109004,-6.204699,1.750000,415.915000,0.000000,10.880000,1.090000,0.650000,0.660000
50%,41.000000,1.000000,31.000000,0.000000,1.078000e+04,283.000000,8.745000e+03,919.000000,NaN,11.000000,2.000000,169.000000,175.000000,1591.000000,4.201300e+04,4.216171e+06,103.840000,113.417654,-2.461746,8.160000,2727.460000,0.180000,73.550000,7.350000,0.990000,1.000000
75%,151.000000,5.000000,143.000000,27.000000,3.646450e+04,1050.000000,3.293250e+04,2607.500000,NaN,18.000000,4.000000,289.000000,332.000000,2853.000000,7.546800e+04,9.095591e+06,262.700000,121.201093,0.212037,26.260000,7374.120000,0.750000,195.850000,19.585000,1.330000,1.000000
max,56757.000000,2069.000000,48832.000000,36726.000000,4.257243e+06,143858.000000,4.105680e+06,574135.000000,NaN,416.000000,98.000000,7230.000000,8488.000000,74953.000000,1.916907e+06,2.651855e+08,16334.310000,138.696030,4.225615,1348.130000,79663.790000,63.800000,1533.980000,153.400000,175.000000,134.500000

Terdapat data yang terdiri dari number dan object maka harus dipisahkan terlebih dahulu antara variabel berisi angka dan variabel berisi object

In [5]:
data_angka = data_covid.select_dtypes(include="number").columns.tolist()
data_objek = data_covid.select_dtypes(include="object").columns.tolist()
print(data_angka)
print(data_objek)

['New Cases', 'New Deaths', 'New Recovered', 'New Active Cases', 'Total Cases', 'Total Deaths', 'Total Recovered', 'Total Active Cases', 'City or Regency', 'Total Regencies', 'Total Cities', 'Total Districts', 'Total Urban Villages', 'Total Rural Villages', 'Area (km2)', 'Population', 'Population Density', 'Longitude', 'Latitude', 'New Cases per Million', 'Total Cases per Million', 'New Deaths per Million', 'Total Deaths per Million', 'Total Deaths per 100rb', 'Growth Factor of New Cases', 'Growth Factor of New Deaths']
['Date', 'Location ISO Code', 'Location', 'Location Level', 'Province', 'Country', 'Continent', 'Island', 'Time Zone', 'Special Status', 'Case Fatality Rate', 'Case Recovered Rate']

Menghitung rata-rata

In [6]:
rata_rata = data_covid[data_angka].mean()
rata_rata

New Cases                      3.912936e+02
New Deaths                     1.322041e+01
New Recovered                  3.773110e+02
New Active Cases               7.621674e-01
Total Cases                    8.525997e+04
Total Deaths                   2.648289e+03
Total Recovered                7.671260e+04
Total Active Cases             5.899079e+03
City or Regency                         NaN
Total Regencies                2.416026e+01
Total Cities                   5.872499e+00
Total Districts                4.204444e+02
Total Urban Villages           5.087405e+02
Total Rural Villages           4.490348e+03
Area (km2)                     1.112418e+05
Population                     1.547817e+07
Population Density             7.449898e+02
Longitude                      1.136808e+02
Latitude                      -2.731868e+00
New Cases per Million          2.939303e+01
Total Cases per Million        6.183651e+03
New Deaths per Million         8.527267e-01
Total Deaths per Million       1.635422e+02
Total Deaths per 100rb         1.635419e+01
Growth Factor of New Cases     1.395671e+00
Growth Factor of New Deaths    1.074145e+00
dtype: float64

Mencari nilai median

In [7]:
median = data_covid[data_angka].median()
median

New Cases                      4.100000e+01
New Deaths                     1.000000e+00
New Recovered                  3.100000e+01
New Active Cases               0.000000e+00
Total Cases                    1.078000e+04
Total Deaths                   2.830000e+02
Total Recovered                8.745000e+03
Total Active Cases             9.190000e+02
City or Regency                         NaN
Total Regencies                1.100000e+01
Total Cities                   2.000000e+00
Total Districts                1.690000e+02
Total Urban Villages           1.750000e+02
Total Rural Villages           1.591000e+03
Area (km2)                     4.201300e+04
Population                     4.216171e+06
Population Density             1.038400e+02
Longitude                      1.134177e+02
Latitude                      -2.461746e+00
New Cases per Million          8.160000e+00
Total Cases per Million        2.727460e+03
New Deaths per Million         1.800000e-01
Total Deaths per Million       7.355000e+01
Total Deaths per 100rb         7.350000e+00
Growth Factor of New Cases     9.900000e-01
Growth Factor of New Deaths    1.000000e+00
dtype: float64

Mencari nilai Modus

In [8]:
modus_data_angka = data_covid[data_angka].mode()
modus_data_angka

,New Cases,New Deaths,New Recovered,New Active Cases,Total Cases,Total Deaths,Total Recovered,Total Active Cases,City or Regency,Total Regencies,Total Cities,Total Districts,Total Urban Villages,Total Rural Villages,Area (km2),Population,Population Density,Longitude,Latitude,New Cases per Million,Total Cases per Million,New Deaths per Million,Total Deaths per Million,Total Deaths per 100rb,Growth Factor of New Cases,Growth Factor of New Deaths
0,0.0,0.0,0.0,0.0,2.0,1.0,0.0,1.0,NaN,12.0,1.0,44,35.0,74953.0,664,10846145,138.34,106.836118,-6.204699,0.0,0.33,0.0,0.0,0.0,1.0,1.0
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7230,NaN,NaN,1916907,265185520,16334.31,113.921327,-0.789275,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
modus_data_objek = data_covid[data_objek].mode()
modus_data_objek

,Date,Location ISO Code,Location,Location Level,Province,Country,Continent,Island,Time Zone,Special Status,Case Fatality Rate,Case Recovered Rate
0,1/1/2021,ID-JK,DKI Jakarta,Province,DKI Jakarta,Indonesia,Asia,Sumatera,UTC+07:00,Daerah Khusus,0.00%,0.00%
1,1/10/2021,IDN,Indonesia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1/11/2021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1/12/2021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1/13/2021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
586,9/7/2021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
587,9/8/2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
588,9/8/2021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
589,9/9/2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
590,9/9/2021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Menghitung nilai variansi

In [10]:
variansi_data_angka = data_covid[data_angka].var()
variansi_data_angka

New Cases                      4.303762e+06
New Deaths                     5.849591e+03
New Recovered                  3.996251e+06
New Active Cases               8.783692e+05
Total Cases                    1.358020e+11
Total Deaths                   1.386744e+08
Total Recovered                1.158692e+11
Total Active Cases             7.572460e+08
City or Regency                         NaN
Total Regencies                4.720826e+03
Total Cities                   2.713074e+02
Total Districts                1.437646e+06
Total Urban Villages           2.042406e+06
Total Rural Villages           1.599607e+08
Area (km2)                     1.026399e+11
Population                     2.010244e+15
Population Density             7.525200e+06
Longitude                      9.717202e+01
Latitude                       1.301957e+01
New Cases per Million          4.891756e+03
Total Cases per Million        1.058455e+08
New Deaths per Million         5.186143e+00
Total Deaths per Million       6.461548e+04
Total Deaths per 100rb         6.461558e+02
Growth Factor of New Cases     9.487678e+00
Growth Factor of New Deaths    2.491670e+00
dtype: float64

Menghitung nilai standar deviasi

In [11]:
std_data_angka = data_covid[data_angka].std()
std_data_angka

New Cases                      2.074551e+03
New Deaths                     7.648262e+01
New Recovered                  1.999063e+03
New Active Cases               9.372135e+02
Total Cases                    3.685133e+05
Total Deaths                   1.177601e+04
Total Recovered                3.403957e+05
Total Active Cases             2.751810e+04
City or Regency                         NaN
Total Regencies                6.870827e+01
Total Cities                   1.647141e+01
Total Districts                1.199019e+03
Total Urban Villages           1.429128e+03
Total Rural Villages           1.264756e+04
Area (km2)                     3.203746e+05
Population                     4.483574e+07
Population Density             2.743210e+03
Longitude                      9.857587e+00
Latitude                       3.608264e+00
New Cases per Million          6.994109e+01
Total Cases per Million        1.028812e+04
New Deaths per Million         2.277310e+00
Total Deaths per Million       2.541958e+02
Total Deaths per 100rb         2.541960e+01
Growth Factor of New Cases     3.080207e+00
Growth Factor of New Deaths    1.578502e+00
dtype: float64