In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib inline

In [2]:
data = pd.read_csv("Book1.csv",sep=";")

data

   No  list_urut
0   1         11
1   2         12
2   3         12
3   4         14
4   5         15
5   6         16
6   7         16
7   8         18
8   9         18
9  10         20

In [3]:
data["list_urut"]

0    11
1    12
2    12
3    14
4    15
5    16
6    16
7    18
8    18
9    20
Name: list_urut, dtype: int64

In [4]:
data["list_urut"].loc[1]

12

In [5]:
data["list_urut"].iloc[0]

11

In [6]:
data["list_urut_new"] = data["list_urut"] + 1

In [7]:
data

   No  list_urut  list_urut_new
0   1         11             12
1   2         12             13
2   3         12             13
3   4         14             15
4   5         15             16
5   6         16             17
6   7         16             17
7   8         18             19
8   9         18             19
9  10         20             21

In [8]:
type(data["list_urut"])

pandas.core.series.Series

In [9]:
list_data = data["list_urut"].tolist()

list_data

[11, 12, 12, 14, 15, 16, 16, 18, 18, 20]

In [10]:
type(list_data)

list

In [11]:
list_data[0]

11

In [12]:
x = range(5)
for n in x:
    print(n)

0
1
2
3
4

In [13]:
list_data[0] = list_data[0] + 1

list_data[0]

12

In [14]:
x = range(5)
for n in x:
    print(n)

0
1
2
3
4

In [15]:
list_data

[12, 12, 12, 14, 15, 16, 16, 18, 18, 20]