# Conditioning If Else If (elif)

In [1]:
nomor = float(input("Masukan nomor antara 0 - 20"))
if  nomor == 10:
    print(f"{nomor} sama dengan 10")
elif nomor > 10:
    print(f"{nomor} diatas 10")
else:
    print(f"{nomor} dibawah 10")

25.0 diatas 10

# Latihan

In [2]:
# A = 80 <= x = 100
# B = 70 <= x < 80
# C = 60 <= x < 70
# D = 40 <= x < 60
# E = 0 <= x < 40

x = float(input("Masukan Nilai dari siswa"))

if  80 <= x == 100:
    print(f"{x} Nilai A")
elif 70<= x < 80:
    print(f"{x} Nilai B")
elif 60<= x < 70:
    print(f"{x} Nilai C")
elif 40 <= x < 60:
    print(f"{x} Nilai D")
elif 0 <= x < 40:
    print(f"{x} Nilai E")
else:
    print("Nilai yang anda masukan salah")

25.0 Nilai E

# Conditioning While

In [3]:
# Menggunakan while saja, harus ada penghenti iterasi

y = 1
z = 1

while   y <= 10:
        while   z <= 10:
                print(f"{y} x {z} = {y*z}")
                z = z + 1
        print (" " * 10)
        y = y + 1
        z = 1

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80

9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

# Conditioning For Loop

In [4]:
for i in range (1,11):
    for j in range (1,11):
        print(f"{i} x {j} = {i * j}")
    print (" " * 10)

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80

9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

# Control Flow System
    ## Terdiri dari 2, continue dan break

In [5]:
# Continue

b = 1
c = 1

while   b <= 10:
        b = b + 1
        c = 1
        if b in [2,3,4]:
            continue
        while   c <= 10:
                print(f"{b} x {c} = {b*c}")
                c = c + 1
        print (" " * 10)

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80

9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

11 x 1 = 11
11 x 2 = 22
11 x 3 = 33
11 x 4 = 44
11 x 5 = 55
11 x 6 = 66
11 x 7 = 77
11 x 8 = 88
11 x 9 = 99
11 x 10 = 110

In [4]:
dictionary = {"Muhammad" : 40, "Nafisa" : 70, "Fakhri" : 100}

dictionary

{'Muhammad': 40, 'Nafisa': 70, 'Fakhri': 100}

In [7]:
dictionary.keys()

dict_keys(['Muhammad', 'Nafisa', 'Fakhri'])

In [8]:
dictionary.values()

dict_values([100, 90, 80])

In [9]:
dictionary.items()

dict_items([('Muhammad', 100), ('Nafisa', 90), ('Fakhri', 80)])

In [5]:
for nama, nilai in dictionary.items():
    print(nama, "dengan nilai", nilai)

Muhammad dengan nilai 40
Nafisa dengan nilai 70
Fakhri dengan nilai 100

In [6]:
# A = 80 <= x = 100
# B = 70 <= x < 80
# C = 60 <= x < 70
# D = 40 <= x < 60
# E = 0 <= x < 40

grade = {}
for nama, q in dictionary.items():
    if  80 <= q == 100:
        grade[nama] = "A"
    elif 70 <= q < 80:
        grade[nama] = "B"
    elif 60 <= q < 70:
        grade[nama] = "C"
    elif 40 <= q < 60:
        grade[nama] = "D"
    elif 0 <= q < 40:
        grade[nama] = "E"
    else:
        print("Nilai yang anda masukan salah")
print(grade)

{'Muhammad': 'D', 'Nafisa': 'B', 'Fakhri': 'A'}