# PENGENALAN

In [1]:
print(type(10))
print(type(9.9))
print(type(2+3j))

<class 'int'>
<class 'float'>
<class 'complex'>

In [2]:
print(type("Fakhri"))
print(type('Fakhri'))

<class 'str'>
<class 'str'>

In [3]:
Lirik = """Dimana?
Ama siapa?
Kapan?
"""
print(Lirik)

Dimana?
Ama siapa?
Kapan?

# Selecting Char

In [4]:
a = "Muhammad Nafisa Fakhri"
print(a[0])
print(a[1])
print(a[-5])

M
u
a

In [5]:
b = "M. N. Fakhri"
print(b[1:11:2])

.N ah

# String Formatting

In [6]:
nama = "Muhammad Nafisa Fakhri"
umur = 27
print(f"Nama saya {nama} dan umur saya {umur}")

Nama saya Muhammad Nafisa Fakhri dan umur saya 27

In [7]:
Nama = input("Masukan nama kamu")
usia = input("Masukan usia kamu")
print(f"""
Nama kamu adalah {Nama}
usia kamu adalah {usia}""")

Nama kamu adalah Fakhri
usia kamu adalah 2

# Boolean

In [8]:
100 < 200

True

In [9]:
100 > 200

False

# Variable Assigment

In [10]:
a,b,c = 1,2,3
print(f"a = {a}")
print(f"b = {b}")
print(f"c = {c}")

a = 1
b = 2
c = 3

# Operasi Aritmatika

In [11]:
angka1 = 11
angka2 = 3

print(f"Hasil Tambah = {angka1 + angka2}")
print(f"Hasil Kurang = {angka1 - angka2}")
print(f"Hasil Kali = {angka1 * angka2}")
print(f"Hasil Bagi = {angka1 / angka2}")
print(f"Hasil Bagi Bulat = {angka1 // angka2}")
print(f"Hasil Pangkat = {angka1 ** angka2}")
print(f"Hasil Sisa Bagi = {angka1 % angka2}")

Hasil Tambah = 14
Hasil Kurang = 8
Hasil Kali = 33
Hasil Bagi = 3.6666666666666665
Hasil Bagi Bulat = 3
Hasil Pangkat = 1331
Hasil Sisa Bagi = 2

# Operasi String

In [12]:
string1 = "Muhammad"
string2 = "Nafisa"
string3 = "Fakhri"

print(f"concatenation = {string1+string2+string3}")
print(f"repeating = {string1*2}")
print(f"repeating = {string2*3}")
print(f"repeating = {string3*4}")

concatenation = MuhammadNafisaFakhri
repeating = MuhammadMuhammad
repeating = NafisaNafisaNafisa
repeating = FakhriFakhriFakhriFakhri

# Comparation Operator

In [13]:
d = 3
e = 4

print(f"{d} == {e} sama dengan : {d==e}")
print(f"{d} != {e} tidak sama dengan : {d!=e}")
print(f"{d} > {e} lebih besar : {d>e}")
print(f"{d} >= {e} lebih besar sama dengan : {d>=e}")
print(f"{d} < {e} lebih kecil : {d<e}")
print(f"{d} <= {e} lebih kecil sama dengan : {d<=e}")

3 == 4 sama dengan : False
3 != 4 tidak sama dengan : True
3 > 4 lebih besar : False
3 >= 4 lebih besar sama dengan : False
3 < 4 lebih kecil : True
3 <= 4 lebih kecil sama dengan : True

# String Manipulation

In [14]:
wasta = "Muhammad Nafisa Fakhri"

print(wasta.upper())
print(wasta.lower())
print(wasta.capitalize())
print(wasta.title())

MUHAMMAD NAFISA FAKHRI
muhammad nafisa fakhri
Muhammad nafisa fakhri
Muhammad Nafisa Fakhri

In [15]:
# mengubah data yang ada menjadi data yang baru
wasta = wasta.upper()
print(wasta)

MUHAMMAD NAFISA FAKHRI

# Data Majemuk

In [1]:
# Data majemuk dibagi 2, ada data tuple menggunakan () dan data list menggunakan []
# Data tuple bersifat read only, data list dapat diubah

data_tuple = (1, 2.5 ,"Fakhri", True, ("z", 2, False))
data_list = [1, 2.5 ,"Fakhri", True, ("z", 2, False)]

print(data_tuple)
print(type(data_tuple))
print(data_list)
print(type(data_list))

# hitung jumlah data dalam tuple dan list

print(len(data_tuple))
print(len(data_list))

# mengambil data dari data tuple atau data list

print(data_tuple[2])
print(data_tuple[-2])
print(data_list[1])
print(data_list[-1])

(1, 2.5, 'Fakhri', True, ('z', 2, False))
<class 'tuple'>
[1, 2.5, 'Fakhri', True, ('z', 2, False)]
<class 'list'>
5
5
Fakhri
True
2.5
('z', 2, False)

In [2]:
# mengubah data list

list_data = [2, 3.5, "Nafisa", False, ("y", 4, True)]

list_data[2] = "Fakhri"
list_data[3] = True

print(list_data)

[2, 3.5, 'Fakhri', True, ('y', 4, True)]

# List Method

In [3]:
# menambah data pada list
data = [2, 4, 6, 8, 10]

# append bertujuan untuk menambah data di urutan terakhir
data.append(12)

# insert bertujuan untuk menambah data dengan letak yang diinginkan, format penulisan (letak, data yang disisipkan)
data.insert(2, 5)

print(data)

[2, 4, 5, 6, 8, 10, 12]

In [2]:
# menghapus data pada list
data2 = [2, 4, 5, 6, 8, 10, 12]

data2.remove(12)
del data2[2]

print(data2)

[2, 4, 6, 8, 10]

# Dictionary

In [1]:
# Pnulisan Dictionary menggunakan kurung kurawal {}
biodata = {"Nama" :  "Muhammad Nafisa Fakhri",
           "TTL" : "Bandung, 25 Maret 1995",
           "Usia" : "27 Tahun",
           "Cita-cita" : "Penguasa Dunia"}
print(biodata)

{'Nama': 'Muhammad Nafisa Fakhri', 'TTL': 'Bandung, 25 Maret 1995', 'Usia': '27 Tahun', 'Cita-cita': 'Penguasa Dunia'}

In [2]:
# Mengambil data dari Dictionary menggunakan []
biodata["Nama"]

'Muhammad Nafisa Fakhri'

In [3]:
# Mengubah data dari Dictionary
biodata["Cita-cita"] = "Penguasa Dunia dan Akhirat"
print(biodata)

{'Nama': 'Muhammad Nafisa Fakhri', 'TTL': 'Bandung, 25 Maret 1995', 'Usia': '27 Tahun', 'Cita-cita': 'Penguasa Dunia dan Akhirat'}

In [4]:
# Menambah data ke Dictionary
biodata["Status"] = "Single"
print(biodata)

{'Nama': 'Muhammad Nafisa Fakhri', 'TTL': 'Bandung, 25 Maret 1995', 'Usia': '27 Tahun', 'Cita-cita': 'Penguasa Dunia dan Akhirat', 'Status': 'Single'}

In [6]:
# Menghapus data dari Dictionary
del biodata["Cita-cita"]

print(biodata)

{'Nama': 'Muhammad Nafisa Fakhri', 'TTL': 'Bandung, 25 Maret 1995', 'Usia': '27 Tahun', 'Status': 'Single'}